@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
   font-family: "Roboto", sans-serif !important;
   background-color: #9ac3e1 !important;
}

.user-img {
   width: 150px;
   border-radius: 50%;
   /* padding: 10px; */
}

.user-img-big {
   width: 300px;
   border-radius: 50%;
}
.user-edit-img{
   width: 250px;
}
.color-text {
   color: #01308b;
}
.new-button {
   background-color: #01308b;
   color: white;
}
